.about-me {
    display: flex;
    box-shadow: #ffffff 1px -20px 84px 20px;
}

.profile-pic {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}


.profile-pic > img {
    width: 100%;
}

.bio {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}

.profile-name{
    font-size: 3em;
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0.5em;
    text-align: center;
}

.ceo-text {
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    padding: 0.5em;
}

.bio-tags {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0.5em;
}

.bio-tags > p {
    background-color: black;
    margin: 10px 0;
    padding: 8px 15px;
    font-size: 0.9em;
    color: white;
    border: none;
    border-radius: 1.8em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.description {
    font-family: "Baloo 2", serif;
    line-height: 1.5em;
    padding: 0.5em;
    text-align: center;
}

.icons-about-me {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding: 1em;
}

.icons-about-me > a {
    font-size: 1.5em;
    color: black;
}

.bio > a {
    text-decoration: none;
    background-color: black;
    margin: 10px 0;
    padding: 8px 15px;
    font-size: 0.9em;
    color: white;
    border: none;
    border-radius: 1.8em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
