/* Hero Section */
.navbar-hero {
    background-image: url(../img/fondo_blur.png);
    background-position: center;
    background-size: cover;
}

.hero {
    display: flex;
    position: relative;
    top: 50px;
    padding: 8em;
}

.bg-profile {
   width: 50%;
   padding: 0 0em 5em 0em;
   position: relative;
}

.bg-profile > img {
    width: 80%;
}

.tara-profile-pic {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.hero-text {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 0em 10em 0em 0em;
}

.hero-text>h1 {
    font-size: 4em;
    color: black;
}

.hero-text>p {
    font-size: 2.5em;
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.hero-links {
    padding: 1em;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.hero-links>a {
    padding: 1em;
    background-color: #E91E63;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 0.5em;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1.5em;
}

.hero-links > .btn-book {
    background-color: #ffff00;
    color: black;
}


