/* Navegation Bar */
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    position: fixed;
    transition: background-color 0.3s ease;
    background-color: white;
    top: 0;
    z-index: 2;
}

.logo>a {
    padding: 1em;
}

.logo>a>img {
    width: 200px;
}

.navbar>ul {
    display: flex;
}

.navbar>ul>li {
    padding: 1em;
    list-style: none;
}

.navbar>ul>li>a {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-family: "B612 Mono", monospace;
    font-style: normal;

}

.navbar>ul>li>a:hover {
    color: #df2454;
}

.navbar-icons {
    padding: 1em;
}

.navbar-icons > a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    margin-left: 1em;
}

.responsive-menu {
    display: none;
}

.ham-menu {
    display: none;
}

.ham-navbar-icons {
    display: flex;
}

.navbar-icons > a:hover{
    color: #df2454;
}

.active-color {
    color: #df2454 !important;
}


@media only screen and (max-width: 870px) {

    .navbar {
        flex-wrap: wrap;
    }

    .navbar>ul {
        display: none;
    }

    .ham-menu {
        display: flex;
        padding: 1.5em;
    }

    .ham-menu>i {
        color: black;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .navbar-icons { 
        display: none;
    }

    .responsive-menu {
        display: none;
        width: 100%;
        padding: 0 2em 2em 2em;

    }

    .responsive-menu {
        display: none;
    }


    .responsive-menu.active {
        display: block;
        background-color: #cccccc42;
        padding: 1em;
    }


    .responsive-menu>ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: self-end;

    }

    .responsive-menu>ul>li {
        list-style: none;
        margin: 0.5em;
        width: 60%;


    }

    .responsive-menu>ul>li>a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
        width: 100%;
        border-radius: 1em;
        display: flex;
        justify-content: flex-end;
        font-family: "B612 Mono", monospace;
        font-weight: 400;
        font-style: normal;
    }

}