/* Hero Section */
body {
    background-image: url(../../img/mainPage/fondo_blur.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero {
    display: flex;
    position: relative;
    top: 50px;
    height: 100vh;
}

.bg-profile {
   width: 50%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.bg-profile > img {
   width: 60%;
   object-fit: cover;
}

.bg-profile > p {
    font-size: 3em;
    font-family: "Courgette", cursive;
    padding: 0.5em 0 0 0em;
}

.tara-profile-pic {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.hero-text {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0em 0em 0em 10em;
}

.hero-text>h1 {
    font-size: 5em;
    color: black;
}

.hero-text>p {
    font-size: 2.5em;
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin-top: 1.5em;
}

.hero-links {
    padding:0em;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

.hero-links>a {
    padding: 0.5em 1em;
    background-color: #E91E63;
    border-radius: 1.8em;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 1em;
    font-family: "Baloo 2", serif;
    font-weight: bold;
    font-size: 1.2em;
}

.hero-links>a:hover{
    background-color: white;
    color: #E91E63;
    border: 2px solid #E91E63;
}

.hero-links > .btn-book {
    background-color: #ffc107;
    color: black;
    font-family: "Baloo 2", serif;
    font-weight: bold;
}

.hero-links > .btn-book:hover {
    background-color: black;
    color: #ffc107;
    border: 2px solid #ffc107;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .hero-text {
        padding: 0em 2em;
    }
    
    .hero-text>h1 {
        font-size: 4em;
    }
    
    .hero-text>p {
        font-size: 2em;
    }
    
    .bg-profile > img {
        width: 100%;
        height: 340px;
    }
    
    .bg-profile > p {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 900px) {
    .hero {
        flex-direction: column-reverse;
        height: auto;
        padding: 2em 0;
    }
    
    .hero-text, .bg-profile {
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 2em 1em;
    }
    
    .hero-text>h1 {
        font-size: 3.5em;
    }
    

    .hero-links {
        justify-content: center;
    }
    
    .hero-links>a {
        margin: 0.5em;
    }
}

@media screen and (max-width: 600px) {
    .hero-text>h1 {
        font-size: 2.5em;
    }
    
    .hero-text>p {
        font-size: 1.5em;
    }

    
    .bg-profile > p {
        font-size: 2em;
    }
    
    .hero-links>a {
        font-size: 1em;
        padding: 0.4em 0.8em;
    }
}

@media screen and (max-width: 350px) {
    .hero-text>h1 {
        font-size: 3em;
    }
    
    .hero-text>p {
        font-size: 1.2em;
    }
    
    .bg-profile > p {
        font-size: 1.5em;
    }
}