.pd-hero {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img//tara-teaching.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
    align-items: center;
}

.pd-hero-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 10em;
}

.pd-hero h1 {
    font-size: 4em;
    font-family: "B612 Mono", monospace;
    color: white;
    font-family: "Courgette", cursive;
}

.pd-hero p{
    color: white;
    font-size: 1.2em;
    width: 50%;
    padding: 1em;
    font-family: "Baloo 2", serif;
}

.pd-hero a {
    text-decoration: none;
    background-color: #ffd700;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "B612 Mono", monospace;
    font-weight: bold;
    text-decoration: none;
    margin: 1em;
    width: 20%;
}

.pd-hero a:hover {
    background-color: #ffc107;
}

.pd-services{
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
}

.pd-services-title{
    width: 100%;
    font-size: 2em;
    font-family: "B612 Mono", monospace;
    font-weight: bold;
    text-align: center;
    color: #e91e63;
}

.pd-services-box {
    border-radius: 1em;
    width: 30%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.pd-services-box-img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    height: 200px;
    background-color: #e91e63;
}

.pd-service-description {
    padding: 2em;
}

.pd-service-description  h3 {
    color:#e91e63;
    font-size: 1.4em;
    font-family: "B612 Mono", monospace;
    padding: 0 0.5em;
}

.pd-service-description  p{
    padding: 0 1em;
    font-family: "Baloo 2", serif;
    margin: 1.5em 0;
}

.pd-service-description  a{
    padding: 1em;
    text-decoration: none;
    background-color: #ffd700;
    margin: 1em;
    color: black;
    font-family: "Baloo 2", serif;
    border-radius: 5px;
    font-weight: bold;
}