.hero-about-me {
    display: flex;
}

.hero-img-about-me {
    width: 50%;
    background-color: #0190a1;
}

.hero-img-about-me > img {
    width: 100%;
}

.butterfly > img {
    width: 80%;
}

.about-me-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5em;
}

.about-me-description > h1 {
    font-size: 5em;
    font-family: "Courgette", cursive;
    font-weight: 400;
    color: rgb(19, 18, 18);
   padding: 0em 0.5em;
}

.about-me-description > p {
    padding: 1em 2em;
    font-family: "Baloo 2", serif;
    color: rgb(31, 27, 27);
    font-size: 1.3em;
}

.about-me-description > .about-me-title {
    color:  black;
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-size: 1.5em;
}

.about-me-description-2{
    display: flex;
}

.eagle-values {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    background-color: #df2454;
    justify-content: flex-start;
    gap: 2em;
}

.eagle-values > h1 {
    font-size: 3em;
    padding: 1em;
    text-align: center;
    width: 100%;
    color: white;
    font-family: "Courgette", cursive;
    font-weight: bold;
}

.eagle-values > div > h3 {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-size: 1.5em;
    padding: 0.5em 0em;
}

.eagle-values > div{
    padding: 1em;
    width: 30%;
    background-color: white;
    border-radius: 0.5em;
}

.eagle-values > div > p {
    font-family: "Baloo 2", serif;
}


.mission-vision {
    display: flex;
    height: 100vh;
}

.mission-vision>div{
    width: 50%;
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission-vision>div>h3{
    font-size: 2.5em;
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding: 1em;
    text-align: center;
}

.mission-vision>div>p{
    line-height: 1.5em;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-family: "Baloo 2", serif;
    font-size: 1.2em;
}

.mission-vision>div>img{
    width: 100px;
}

.mission-vision>div> .vision-logo{
    width: 80px;
}

.mission-vision>div:first-child{
    background-color: #0190a1;
}

.mission-vision>div:nth-child(2){
    background-color: #df2454;
}

